@* Define Imports *@
@import models.Movie
@import views.html.helper
@(form: Form[Movie])

@adminMain("Cinema-Admin-Movies") {
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dashboard - Cinema Manager</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/movies">Movies <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/showings">Showings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/bookings">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/customers">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/screens">Screens</a>
          </li>
        </ul>
      </nav>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1>Dashboard - Add Movie</h1>

          <form class="form-AddMovie" action="/admin/movies/save" method="GET">
              <section class="row placeholders">
                  <div class="col-6 col-sm-6 placeholder">

                      <div class="form-group">
                          <label for="movieName">Movie Name</label>
                          <input type="text" class="form-control" id="movieName" name="movieName" aria-describedby="movieNameHelp" placeholder="movieName" required autofocus>
                              <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                      </div>

                      <div class="form-group">
                          <label for="ageRating">Age Rating</label>
                          <select class="form-control" id="ageRating" name="ageRating" aria-describedby="ageRatingHelp" required>
                              <option>U - Suitable for all</option>
                              <option>PG - Parental guidance</option>
                              <option>12A - Cinema release suitable for 12 years and over</option>
                              <option>15 - Suitable only for 15 years and over</option>
                              <option>18 - Suitable only for adults</option>
                          </select>
                      </div>

                      <div class="form-group">
                          <label for="shortDesc">Short Description</label>
                          <textarea class="form-control" id="shortDesc" name="shortDesc" aria-describedby="shortDescHelp" placeholder="shortDesc" required rows="3"></textarea>
                      </div>

                      <div class="form-group">
                          <label for="plot">Plot</label>
                          <textarea class="form-control" id="plot" name="plot" aria-describedby="plotHelp" placeholder="plot" required rows="3"></textarea>
                      </div>

                      <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                          <button class="btn btn-lg btn-primary btn-block" type="submit">Add Movie</button>
                      </div>

                  </div>
                  <div class="col-6 col-sm-6 placeholder">

                      <div class="form-group">
                          <label for="year">Year</label>
                          <input type="number" class="form-control" id="year" name="year" aria-describedby="yearHelp" placeholder="year" required>
                              <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                      </div>

                      <div class="form-group">
                          <label for="genre">Genre</label>
                          <input type="text" class="form-control" id="genre" name="genre" aria-describedby="genreHelp" placeholder="genre" required>
                              <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                      </div>

                      <div class="form-group">
                          <label for="released">Released</label>
                          <input type="date" class="form-control" id="released" name="released" aria-describedby="releasedHelp" placeholder="released" required>
                              <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                      </div>

                      <div class="form-group">
                          <label for="director">Director</label>
                          <input type="text" class="form-control" id="director" name="director" aria-describedby="directorHelp" placeholder="director" required>
                              <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                      </div>

                      <div class="form-group">
                          <label for="runtime">Runtime</label>
                          <input type="text" class="form-control" id="runtime" name="runtime" aria-describedby="runtimeHelp" placeholder="runtime" required>
                              <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                      </div>


                      <div class="form-group">
                          <label for="img_URL">Image URL</label>
                          <input type="url" class="form-control" id="img_URL" name="img_URL" aria-describedby="img_URLHelp" placeholder="img_URL" required>
                          <img src="" class="img-fluid" alt="Image" id="image_preview">
                      </div>

                  </div>
              </section>

              @for(key <- Array("danger", "info", "success", "warning")){
                  @if(flash().containsKey(key)){

                      <div class="alert alert-@key alert-dismissible fade show" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          @flash.get(key)
                      </div>
                  }
              }

          </form>

      </main>
    </div>
  </div>
}