@* Define Imports *@
@import models.Customer
@import views.html.helper
@(form: Form[Customer])

@adminMain("Cinema-Admin-Customers") {
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dashboard - Cinema Manager</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/showings">Showings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/bookings">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/customers">Customers <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/screens">Screens</a>
          </li>
        </ul>
      </nav>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1>Dashboard - Add Customer</h1>

        <form class="form-AddCustomer" action="/admin/customers/save" method="GET">
          <section class="row placeholders">
            <div class="col-6 col-sm-6 placeholder">

              <div class="form-group">
                <label for="firstName">firstName</label>
                <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="firstNameHelp" placeholder="firstName" required autofocus>
                  <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

              <div class="form-group">
                <label for="lastName">lastName</label>
                <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="lastNameHelp" placeholder="lastName" required>
                  <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

              <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="email" required>
                  <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

              <div class="form-group">
                <label for="phone">phone</label>
                <input type="number" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="phone" required>
                  <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

              <div class="form-group">
                <label for="address">address</label>
                <input type="text" class="form-control" id="address" name="address" aria-describedby="addressHelp" placeholder="address" required>
                  <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

              <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Add Customer</button>
              </div>

            </div>
          </section>
        </form>

      </main>
    </div>
  </div>
}