@* Define Imports *@
@import models.Screen
@import views.html.helper
@(form: Form[Screen])

@adminMain("Cinema-Admin-Screens") {
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Dashboard - Cinema Manager</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Help</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/movies">Movies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/showings">Showings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/bookings">Bookings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/customers">Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/admin/screens">Screens <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </nav>

      <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1>Dashboard - Edit Screen</h1>

        <form class="form-AddBooking" action="/admin/screens/update" method="GET">
          <section class="row placeholders">
            <div class="col-6 col-sm-6 placeholder">

              <div class="form-group">
                <label for="screenId">screenId</label>
                @defining(form("screenId")) { uidField =>
                  <input readonly  type="text" class="form-control" id="screenId" name="screenId" aria-describedby="screenIdHelp" value="@uidField.value" required autofocus>
                }
                  <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

              <div class="form-group">
                <label for="totalSeats">totalSeats</label>
                @defining(form("totalSeats")) { uidField =>
                  <input type="number" class="form-control" id="totalSeats" name="totalSeats" aria-describedby="totalSeatsHelp" value="@uidField.value" placeholder="totalSeats" required>
                }
                  <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

              <div class="form-group">
                <label for="screenName">screenName</label>
                @defining(form("screenName")) { uidField =>
                  <input type="text" class="form-control" id="screenName" name="screenName" aria-describedby="screenNameHelp" value="@uidField.value" placeholder="screenName" required>
                }
                  <!-- <small id="movieNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
              </div>

              <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Update Screen</button>
              </div>

            </div>
          </section>
        </form>

      </main>
    </div>
  </div>
}