@* Define Imports *@
@import models.Showing
@import java.util
@(showings: util.List[Showing])

@adminMain("Cinema-Admin-Showings") {
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Dashboard - Cinema Manager</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/movies">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/showings">Showings <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/bookings">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/customers">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/screens">Screens</a>
                        </li>
                    </ul>
                </nav>

                <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
                    <h1>Dashboard - Showings</h1>

                    <section class="row text-center placeholders">
                        <div class="col-6 col-sm-3 placeholder">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                            <h4>Label</h4>
                            <div class="text-muted">current showing capaicty</div>
                        </div>
                        <div class="col-6 col-sm-3 placeholder">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                            <h4>Label</h4>
                            <span class="text-muted">current seats filled</span>
                        </div>
                        <div class="col-6 col-sm-3 placeholder">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                        <div class="col-6 col-sm-3 placeholder">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                            <h4>Label</h4>
                            <span class="text-muted">Something else</span>
                        </div>
                    </section>

                    <h2>latest Showings</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>showingId</th>
                                    <th>screenId</th>
                                    <th>startTime</th>
                                    <th>endTime</th>
                                    <th>Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            @for(showing <- showings){
                                <tr>
                                    <td>@showing.getShowingId</td>
                                    <td>@showing.getScreenId</td>
                                    <td>@showing.getStartTime</td>
                                    <td>@showing.getEndTime</td>
                                    <td>@showing.getDate</td>
                                    <th><a class="btn btn-primary" href="showings/edit/@showing.getShowingId" role="button">Edit</a></th>
                                    <th><a class="btn btn-primary" href="showings/destroy/@showing.getShowingId" role="button">Delete</a></th>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                    <a class="btn btn-primary" href="showings/create" role="button">Add New Showing</a>

                </main>
            </div>
        </div>
}